#!/usr/bin/env python3
# -*- coding: utf-8 -*-


# Title         : config.py
# Description   : Módulo configurador para ser importado en el resto de módulos o sistemas que lo necesiten
# Author        : Veltys
# Date          : 04-07-2017
# Version       : 1.2.0
# Usage         : import config | from config import <clase>
# Notes         : Se han estructurado en clases las distintas configuraciones
#                 GPIOS contiene pares de datos en formato "diccionario", siendo el úndice el número (BCM) de puerto GPIO a manipular y True si es activo a alto nivel o False si es a bajo nivel
#                 PAUSA (o PAUSAS, en el caso de reiniciar_router_config) contiene el/los tiempo(s) que el bucle estará parado
#                 senyales (señales) contiene el tipo de señal y la función a la que ésta se asociará
#                 
#                 A título ilustrativo, a se ofrece una configuración por defecto (la mía, para ser exactos)


class cpu_config:
    GPIOS           = [(26, True,  True ),
                       (19, True,  True ),
                       (13, True,  True ),
                       ( 6, True,  True ),
                       ( 5, True,  True ),
                      ]

    PAUSA           = 10

    senyales        = {'SIGTERM': 'sig_cerrar',
                       'SIGUSR1': 'sig_test',
                       'SIGUSR2': 'sig_apagado',
                      }


class domotica_config:
    GPIOS           = [(17, False, False),
                       (27, True,  True ),
                      ]

    PAUSA           = 0.1

    senyales        = {'SIGTERM': 'sig_cerrar',
                       'SIGUSR1': 'sig_test',
                      }

class internet_config:
    HOSTS           = ['ra.routers.veltys.es',
                       'veltys.es',
                       'google.es',
                      ]


class reiniciar_router_config:
    GPIOS           = [( 4, True,  False),
                      ]

    PAUSA           = 15

    senyales        = {'SIGTERM': 'sig_cerrar',
                       'SIGUSR1': 'sig_test',
                      }


class temperaturas_config:
    GPIOS           = [(21, True,  True ),
                       (20, True,  True ),
                       (16, True,  True ),
                       (12, True,  True ),
                      ]

    TEMPERATURAS    = [40, 45, 50]

    PAUSA           = 60

    senyales        = {'SIGTERM': 'sig_cerrar',
                       'SIGUSR1': 'sig_test',
                       'SIGUSR2': 'sig_apagado',
                      }
